:root{
    --orange:rgb(239, 110, 5);
    --black:#080324;
    --light-color:#504e4e;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    font-family:sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform:none;
    transition: all .2s linear;

}

html{
    font-size:70%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    background:rgb(239, 234, 234);