@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

:root{
    --orange:rgb(239, 110, 5);
    --black:#080324;
    --light-color:#504e4e;
    --box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
}
*{
    font-family:"karla" , sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform:none;
    transition: all .2s linear;
}

html{
    font-size:70%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    background:rgb(239, 234, 234);
}

/* Header and Navbar **/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo .i {
    color: var(--orange);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: var(--light-color);
}
header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background: var(--orange);
    letter-spacing: 0.1rem;
}
header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo .i {
    color: var(--orange);
}

header .navbar a {
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: var(--black);
    text-align: center;
    justify-content: center;
}

header .navbar a:hover {
    color: #fff;
    background: var(--orange);
}
header .icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .icons i {
    cursor: pointer;
    margin-left: .5rem;
    height: 3rem;
    line-height: 3rem;
    width: 3rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 25%;
    background: #eee;
}
header .icons i:hover {
    color: #fff;
    background: var(--orange);
}
header .icons #menu-bars{
    display:none;
}
/*
header .icons .search {
    display: flex;
    height: 3rem;
}

header .icons .search #search-box {
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #333;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
}

header .icons .search label {
    height: 100%;
    width: 3rem;
    font-size: 1rem;
    line-height: 3rem;
    color: #fff;
    background: var(--black);
    text-align: center;
    cursor: pointer;
}

header .search label:hover {
    background: var(--orange);
} */

/* Home section css */
section{
    padding: 2.5rem 9%;
    background:white;
    width: 100%;
    padding-bottom: 30rem;
}

.home .container .slide {
    display:inline-flex;
    align-items:Center;
    flex-wrap:wrap;
    gap:2rem;
    padding-top: 9rem;
}
.home .container .slide .content{
    flex:1 1 45rem;
}
.home .container .slide .image {
    flex: 1 1 45rem;
}
.home .container .slide .image img{
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.home .container .slide .content span{
    color: var(--orange);
    font-size: 2.5rem;

}
.home .container .slide .content h3{
    color: var(--black);
    font-size: 5rem;
}

.home .container .slide .content p{
    color: var(--light-color);
    font-size: 2rem;
    padding: 0.5rem 0;
    line-height: 1.5; 
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius:0.5rem ;
    cursor: pointer;
    padding: 0.8rem 3rem;
}
.btn:hover{
    background: var(--orange);
    letter-spacing: 0.1rem;
}

.swiper-pagination-bullet-active{
    background: var(--orange);
}

/* Our pizza Section css */
.h3heading {
    text-align: center;
    color:var(--black);
    font-size:3rem;
    padding-bottom:2rem;
}
.h1heading {
    text-align: center;
    color: var(--orange);
    font-size:2rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.pizzas .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem,1fr));
    gap:1rem;
}

.pizzas .box-container .box {
    padding:2.5rem;
    background: #fff;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.pizzas .box-container .box img {
    height: auto;
    width: 100%;
}
.pizzas .box-container .box img{
    height:auto;
    width: 100%;
}
.pizzas .box-container .box h3{
    color: var(--black);
    font-size: 3rem;
}
.pizzas .box-container .box .stars {
    padding: 1rem 0;
}
.pizzas .box-container .box .stars i{
    font-size: 1.8rem;
    color:var(--orange);
    text-align: center;
}
.pizzas .box-container .box span{
    color: var(--black);
    font-weight: bolder;
    margin-right:1rem; 
    font-size: 2.5rem;
}

/* about us section css */
.about .row {
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    flex:1 1 45rem;
}
.about .row .image img {
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    color:var(--black);
    font-size:4rem;
    padding:5rem 0;
}
.about .row .content p {
    color: var(--light-color);
    font-size:1.5rem;
    padding:1rem 0;
    
}
.about .row .content .icons-container{
    display:flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: 0.5rem;
}
.about .row .content .icons-container .icons{
    background: #eee;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex: 0.5 0.5 10rem;
    padding:1rem 0;
}
.about .row .content .icons-container .icons i {
    font-size:2rem ;
    color: var(--orange);
}
.about .row .content .icons-container .icons span {
    font-size: 1.2rem;
    color: var(--black);
}

/* review section css */
.review .slide {
    padding:2rem;
    box-shadow: var(--box-shadow);
    border:0.1rem solid black;
    border-radius: 0.5rem;
    position: relative;
}
.review .slide .fa-quote-right{
    position:absolute;
    top:2rem;
    right:2rem;
    font-size: 6rem;
    color: #ccc;
}
.review .slide .user{
    display:inline-flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom:1.5rem ;
}
.review .slide .user img {
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .slide .user h3{
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.review .slide .user i{
    font-size: 1.3rem;
    color: var(--orange);
}
.review .slide p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
}

/* Order & reservation section css */
.order img {
    height: 80px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.reservation form ,
.order form {
    width:100%;
    border-radius: 0.5rem;
    box-shadow:var(--box-shadow) ;
    border: 0.1rem solid black;
    background: #fff;
    padding: 1.5rem;
    margin:0 auto;
}
.reservation form .inputBox,
.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reservation form .inputBox .input ,
.order form .inputBox .input {
    width:48%;
}

.reservation form .inputBox .input label,
.order form .inputBox .input label{
    display:block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.reservation form .inputBox .input input,
.reservation form .inputBox .input textarea,
.order form .inputBox .input input,
.order form .inputBox .input textarea {
    background: #eee;
    border-radius: 0.5rem;
    padding:1rem;
    font-size:1.6rem ;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.reservation form .inputBox .input textarea,
.order form .inputBox .input textarea{
    height:20rem;
    resize:none;
}

.reservation form .btn,
.order form .btn{
    margin-top: 0;
}

/* footer section css */

.footer{
    background-color: whitesmoke;
}
.footer .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:1.5rem;
}
.footer .box-container .box h3{
    padding: 0.5rem 0;
    font-size: 2rem;
    color: var(--black);
}
.footer .box-container .box a {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--light-color);
}
.footer .box-container .box a:hover{
    color: var(--orange);
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    border-top: 0.1rem solid black;
    font-size: 1.5rem;
    color: var(--black);
    padding: 0.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}
.footer .credit span {
    color:var(--black);
    font-size: 1.5rem;
    font-weight: bold;
}

.h-one {
    text-align: center;
    color: var(--orange);
    font-size:1.5rem;
    padding-top: 8rem;
    text-transform: uppercase;
    padding-bottom: 18rem;
    padding-top:15rem;
    
}







/* Media queries */
@media screen and (max-width:991px) {
    html {
        font-size: 55%;
    }
i
    header {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width:768px) {
    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-bottom:0.1rem solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        clip-path:circle(0% at 95.3% 8.5% );
    }
    header .navbar.active {
        clip-path: circle(140% at 95.3% 8.5%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
}

@media screen and (max-width:991px) {
    html {
        font-size: 50%;
    }
}
